/* Plaats je CSS-code in dit bestand */

.header {
    background-color: rgba(34, 33, 33, 0.521);
    text-align: center;
    padding: 10px;
}

h1{
    color: red;
}

h2{ 
    color: white;
    font-size:50px;
    text-align:left;
    text-shadow: 2px 2px 4px #000000;
}

#resultaat{
    color: white;
    font-size:50px;
    text-align:left;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;  
}

#uitleg{
    text-align: center;
}

p{
    color: white;
    font-size:30px;
    text-shadow: 2px 2px 4px #000000;
}


nav {
    margin-top: 1em;
    margin-bottom: 1em;
}

.page {
    border-width: 4px;
    border-color: red;
    background: linear-gradient( rgba(34, 33, 33, 0.521), rgba(34, 33, 33, 0.8));
    border-style: solid;
    text-align: center;
    border-radius: 12px;
}

#button-start {
    font-weight: bold;
    border-radius:12px;
    border-top: hidden;
    border-bottom: hidden;
    background-color:rgba(34, 70, 71, 0);
    color: whitesmoke;
    font-size: 40px;
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 20px;
}

#button-start:hover{
    padding: 15px;
    border-top-left-radius: 100px;
    border-bottom-right-radius:100px;
    border-bottom-left-radius:100px;
    border-top-right-radius:100px;
    transition: ease-in-out;
}

#button-questions {
    font-weight: bold;
    border-radius:12px;
    border-top: hidden;
    border-bottom: hidden;
    background-color:rgba(34, 70, 71, 0);
    color: rgb(131, 32, 37);
    font-size: 40px;
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 20px;
}

#button-questions:hover{
    padding: 15px;
    border-top-left-radius: 100px;
    border-bottom-right-radius:100px;
    border-bottom-left-radius:100px;
    border-top-right-radius:100px;
    transition: ease-in-out;
}

.button {
    height:20px; 
    max-width:100%; 
    width: 600px;
    margin: 10px; 
    position:relative;
    
    border-radius:12px;
    border:2px solid darkblue;
    background: linear-gradient( red, rgba(155, 134, 15, 0.63));
    padding:50px;
    color: white;
    font-size: 20px;
    }

.btn-width-wrapper{
    display:inline-block;
    width:1400px;
    max-width: 100%;
}

body {
    background-image: url(..//afbeeldingen/901.jpg);
}

.page1{
    color:rgb(141, 20, 20);
    font-size:40px;
    text-shadow: 2px 2px 8px rgb(0, 0, 0)
}

@keyframes button {
    from{background-color:rgba(34, 70, 71, 0);;} 
    to{background-color:black;}
}








